*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
.DS_Store
/build
/captures



/FlycoTabLayout_Lib
/gradle
/EaseUI
/Android-PullToRefresh-master
/xutils
/xutils.7z
EaseUI/assets/
EaseUI/build/generated/assets/
EaseUI/build/generated/res/
EaseUI/build/generated/source/aidl/
EaseUI/build/generated/source/rs/
EaseUI/build/intermediates/bundles/release/aidl/
EaseUI/build/intermediates/bundles/release/assets/
EaseUI/build/intermediates/dependency-cache/
EaseUI/build/intermediates/lint/
EaseUI/build/intermediates/rs/
EaseUI/build/intermediates/shaders/
EaseUI/build/tmp/
EaseUI/res/drawable-ldpi/
EaseUI/simpledemo/assets/
EaseUI/simpledemo/res/drawable-ldpi/
app/src/main/res/menu/
xutils/
